body{
    margin: 1px;
    padding-left:1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
#body{
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 15%; 
    margin-top: 1%;
    margin-bottom: 1%;
}
.perfil{
    display: flex;
    height: 100px;
    
}
.fotoperfil{
    width:100px;
    border-radius: 50%;
}
.column{
    margin-left: 20px;
    flex-direction: column;
}

h2{
    font-size: 17px;
    margin-top: -4%;
}

.line{
    margin-top: 1%;
    width: 100%;
    height: 2px;
    background-color: orange;

}

p{
    margin-left: 10px;
}
ul{
    margin-left: 10px;
}

h3{
    font-size: 20px;
    text-decoration: underline;
}

.title{
    font-weight: 600;
    color:black;
}

.cien{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.setenta{
width: 85%;
justify-content: flex-start;
border-right: 2px solid  orange;
padding-right: 2%;
padding-right: 10%;
}

.treinta{
    width:25%;
    justify-content: flex-end;
   margin-left: 1%;
    
}

.treinta h3{
    padding-left: 8%;
}