#body{
    background-image: url("https://img.freepik.com/free-photo/philadelphia-sesame-rolls-orange-background-space-text_185193-75535.jpg?w=2000");
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
    h1{
    color:blue;
}
img{
    width: 400px;
}
.divClass{
    text-align: center;
}
.divClass a{
    font-weight: 600;
}
#thirdDiv{
    width: 1000px;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding:50px;
    border-color: blueviolet;
    border-style: double;
}

#spanId{
    font-size: 18px;
    margin: 50px;
   
}